a {
  text-decoration: none;
}

body {
  background-color: #a2b9bc;
  color: darkblue;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DBD76B;
  width: 320px;
  height: 820px;
}

.allData {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pr {
  background-color: #8b7623;
  color: darkblue;
  font-size: 14px;
}

.avatar {
  vertical-align: middle;
  background-color: white;
  overflow: hidden;
  display: block;
  border-radius: 50%;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.avatar img {
  width: 100%;
  height: auto;
}
